* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: "DM Sans", sans-serif;
  background: linear-gradient(
    29deg,
    rgba(17, 17, 17, 1) 0%,
    rgb(27, 106, 161) 100%
  );
  color: #edf0f1;
}

.head,
.addplayercontent {
  text-decoration: none;
  color: #edf0f1;
}

cus option {
  padding-bottom: 20px !important;
}

.playerSelectionContent #addPlayerButton {
  margin-top: 20px;
}

.addplayercontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.addplayercontent #desc {
  text-align: center;
  margin: 20px 0;
  font-size: 24px;
}

.addplayercontent label {
  margin-bottom: 20px;
  font-size: 24px;
}

#name {
  height: 40px;
  width: 200px;
}

.addplayercontent input {
  margin-bottom: 20px;
}

.addplayercontent button {
  height: 30px;
  width: 60px;
}

.playerSelectionContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

#contentDisplay ul {
  list-style-type: none;
  padding: 0;
}

#contentDisplay li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-size: 24px;
}

#contentDisplay span {
  cursor: pointer;
  margin-left: 150px;
}

nav {
  background-color: rgb(24, 24, 24);
  padding: 5px 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

nav ul li a.active {
  color: rgb(13, 151, 214);
}

nav ul li a:hover {
  color: rgb(36, 175, 255);
}

.content,
.contentForPlayerSel {
  display: flex;
  justify-content: center;
  padding: 20px;
}

/* Navigation */
.nav__links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
}

.toggle {
  order: 1;
}

.item {
  width: 100%;
  text-align: center;
  order: 3;
  display: none;
}

.item.active {
  display: block;
}

.toggle {
  cursor: pointer;
}

.bars {
  background: #999;
  display: inline-block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.bars:before,
.bars:after {
  background: #999;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.bars:before {
  top: 5px;
}

.bars:after {
  top: -5px;
}
@media all and (min-width: 368px) {
  .nav__links {
    justify-content: center;
  }

  .head {
    flex: 1;
  }

  .toggle {
    order: 2;
  }

  .nav__links li {
    padding: 15px 10px;
  }

  .nav__links li.button {
    padding-right: 0;
  }
}
@media all and (min-width: 768px) {
  .item {
    display: block;
    width: auto;
  }

  .toggle {
    display: none;
  }

  .head {
    order: 0;
  }

  .item {
    order: 1;
  }

  .nav__links li.button {
    padding-right: 0;
  }

  .addplayercontent {
    margin-top: 10px;
  }
  .addplayercontent #desc {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
