/* Common styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
  text-decoration: none;
}

.head,
.addplayercontent {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}
cus option {
  padding-bottom: 20px !important;
}
body {
  height: 120vh;
  background: linear-gradient(
    29deg,
    rgba(17, 17, 17, 1) 0%,
    rgb(27, 106, 161) 100%
  );
}

.playerSelectionContent #addPlayerButton {
  margin-top: 20px;
}

.addplayercontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.addplayercontent #desc {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.addplayercontent label {
  margin-bottom: 20px; /* Lisää 20px väliä pelaajan lisäämistekstin ja tekstikentän välille */
}

.addplayercontent input {
  margin-bottom: 20px; /* Lisää 20px väliä tekstikentän ja lisää-napin välille */
}
.addplayercontent button {
  height: 30px;
  width: 60px;
}
.playerSelectionContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contentDisplay ul {
  list-style-type: none;
  padding: 0;
}

#contentDisplay li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff; /* Tekstin väri valkoiseksi */
  font-size: 16px; /* Aseta fontin koko */
  margin-bottom: 10px; /* Lisää väliä alapuolelle */
}

#contentDisplay span {
  cursor: pointer;
  font-size: 20px; /* Isompi fonttikoko */
  margin-left: 150px;
}

.playerSelectionContent p {
  font-size: 18px;
}

nav {
  background-color: rgb(24, 24, 24);
  padding: 5px 20px;
}

ul {
  list-style-type: none;
}

a {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: rgb(24, 24, 24);
  font-size: clamp(0.75rem, 1.5vw, 2rem);
  color: #edf0f1;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

nav ul li a.active {
  color: rgb(13, 151, 214);
}

nav ul li a:hover {
  color: rgb(36, 175, 255);
}

.content,
.contentForPlayerSel {
  display: flex;
  justify-content: center;
  padding: 20px;
  color: #edf0f1;
  font-size: clamp(0.75rem, 1.5vw, 2rem);
}

/* Navigation */
.nav__links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.toggle {
  order: 1;
}

.item {
  width: 100%;
  text-align: center;
  order: 3;
  display: none;
}

.item.active {
  display: block;
}

.toggle {
  cursor: pointer;
}

.bars {
  background: #999;
  display: inline-block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.bars:before,
.bars:after {
  background: #999;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.bars:before {
  top: 5px;
}

.bars:after {
  top: -5px;
}

@media all and (min-width: 368px) {
  .nav__links {
    justify-content: center;
  }

  .head {
    flex: 1;
  }

  .toggle {
    order: 2;
  }

  .nav__links li {
    padding: 15px 10px;
  }

  .nav__links li.button {
    padding-right: 0;
  }
}

@media all and (min-width: 768px) {
  #contentDisplay li {
    font-size: 14px; /* Pienennä fonttikokoa pienemmillä näytöillä tarvittaessa */
  }

  .item {
    display: block;
    width: auto;
  }

  .toggle {
    display: none;
  }

  .head {
    order: 0;
  }

  .item {
    order: 1;
  }

  .nav__links li {
    padding: 15px 10px;
  }

  .nav__links li.button {
    padding-right: 0;
  }
  /* Kun näyttö on pienempi kuin 768px */
  .addplayercontent {
    margin-top: 10px; /* Pienennä marginaalia */
  }
  .addplayercontent #desc {
    margin-top: 10px; /* Pienennä marginaalia */
    margin-bottom: 10px; /* Pienennä marginaalia */
  }
  .playerSelectionContent p {
    font-size: 16px; /* Pienennä fonttikokoa */
  }
}
